.logo-bg-ct{width: 180px;height: 300px;position: absolute;top: 10px;left: 50%;margin-left: -90px;}
.logo-bg{background: url("images/mai-logo-m1.png");width: 100%;height: 180px;overflow: hidden;}
.logo-text{color: #666666;font-size: 14px;text-align: center;margin: 0px;}

